body
 {
    margin: auto 0;
    padding-bottom: 20px;
 }
.zone 
 {
    cursor:pointer;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
 }



li
 {
    padding: 20px;
 }

.nevbar {
  overflow: hidden;
  background-color: red;
  /*--position: fixed;*/ /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.nevbar a {
  float: left;
  display: block;
  color: #0E273C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.nevbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

a{
    color: #FFF8F3;
    text-decoration: none;
 }

.containers{
    display: flex;
    justify-content: center;
    height: 50vh;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
 }
.push{
    margin-right: auto;
    color: white;
}
.moto{
    font-family: 'Great Vibes', cursive;
    font-size: 2em;
    color: #f17a14;
}
.moto2{
    font-family: 'Great Vibes', cursive;
    font-size: 3em;
    color:#224c9a;
}
.navbar-brand
{
    font-family: 'Roboto Condensed', sans-serif;
}
.cover{
    width: 14em;
}




}
.card >card-img-top{
    width: 100%;
}
.card-text {
     font-family: 'Roboto Condensed', sans-serif;
}


.ing :hover {
    cursor:pointer;
    transform: scale(1.04); 
    transition: all 0.5s linear;
}
